.no-underline{
  text-decoration: none !important;
}
/* ================================================
   ADD TO CALENDAR
   ================================================ */
/* Base */

.addtocalendar var {
    display: none;
}

.addtocalendar {
    position: relative;
    display: inline-block;
    background: transparent!important;
}

.atcb-link {
    display: block;
    outline: none!important;
    cursor: pointer;
}

.atcb-link:focus~ul,
.atcb-link:active~ul,
.atcb-list:hover {
    visibility: visible;
}

.atcb-list {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 225px;
    z-index: 900;
}

.atcb-list,
.atcb-item {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
}

.atcb-item {
    float: none;
    text-align: left;
}

.atcb-item-link {
    text-decoration: none;
    outline: none;
    display: block;
}

.atcb-item.hover,
.atcb-item:hover {
    position: relative;
    z-index: 900;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
/* theme */

.atc-style-theme .atcb-link {
    margin: 0;
    padding: 7px 25px;
    color: #8C8C8C;
    border: solid 2px #CACACA;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    line-height: 20px;
    vertical-align: middle;
    background: transparent;
    border-radius: 3px;
    text-transform: uppercase;
    zoom: 1;
}

.atc-style-theme .atcb-link:hover,
.atc-style-theme .atcb-link:active,
.atc-style-theme .atcb-link:focus {
    border-color: #818181;
    color: #8C8C8C;
}

.atc-style-theme .atcb-list {
    width: 225px;
    border: 1px solid #E7E7E7;
    border-radius: 2px;
}

.atc-style-theme .atcb-list,
.atc-style-theme .atcb-item {
    background: #fff;
    color: #000;
}

.atc-style-theme .atcb-item,
.atc-style-theme .atcb-item-link {
    line-height: 1.3em;
    vertical-align: middle;
    zoom: 1;
}

.atc-style-theme .atcb-item-link,
.atc-style-theme .atcb-item-link:hover,
.atc-style-theme .atcb-item-link:active,
.atc-style-theme .atcb-item-link:focus {
    color: #000;
    font-size: 14px;
    text-decoration: none;
    outline: none;
    padding: 10px 20px;
}

.atc-style-theme .atcb-item-link:hover,
.atc-style-theme .atcb-item-link:active,
.atc-style-theme .atcb-item-link:focus {
    /*color: #fff;*/
}

.atc-style-theme .atcb-item.hover,
.atc-style-theme .atcb-item:hover {
    background: #EFEFEF;
}
